

.singleClientTitle {
    font-size: 24px;
    font-weight: 600;
    color: #582900;
}

.clientContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 40px auto;
    border: 5px solid transparent;
    border-radius: 15px;
    background-color:#fbf3db;
    box-shadow: 1px 1px 5px black;
}

.clientTitleContainer {
    flex:1;
}

.imgInfosContainer {
    display: flex;
    flex-direction: row;
}

.imgClientContainer {
 flex:1; 
}

.imgClientProfil {
    width: 50%;
    border: 3px solid white; 
    border-radius: 15px;
}

.clientInfosContainer {
    flex:1; 
    margin:auto;
    text-align: left;
} 

.clientInfo {
    font-size: 18px;
    font-weight: 600;
    color: #582900;
}
